{{#> layout}}
    <aside class="menu">
        <p class="menu-label">Table of Contents</p>
        <ul class="menu-list">
        {{#each entries}}
            <li><a href="{{config.url}}{{slug}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </aside>
    <hr>
    <aside class="menu">
        <p class="menu-label">Meta</p>
        <ul class="menu-list">
            <li><a href="https://blog.bovid.space">Author</a></li>
            <li><a href="https://github.com/garbados/becoming-novel/">Source</a></li>
        </ul>
    </aside>
{{/layout}}
